<table class="w-full">
  <tr>
    <td class="pb-[30px] text-center mx-auto">
      <x-image class="w-[560px]" imgUrl="image-1.png" alt="Hero Image"/>
    </td>
  </tr>
  <tr>
    <td class="text-center pl-[30px] pr-[30px]">
        <p class="text-2xl text-header text-midnightgreen font-bold leading-[27.6px] mb-[20px]">Excepteur sint occaecat cupidatat</h4>
        <p class="text-base text-outerspace leading-[18.4px] mb-[20px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </td>
  </tr>
  <tr>
    <td class="pb-[30px]" align="center">
      <x-button class="text-white leading-[23px] text-center text-[20px] font-bold" width="350" height="46" padding="12px 54px"
      bgColor="#008080" href="https://example.com" rounded="10" borderColor="#008080">
        Ut enim ad minim veniam
      </x-button>
    </td>
  </tr>   
</table>
