<table class="w-full bg-gray">
  <tr>
    <td class="pt-[37px]">
      <p
        class="text-2xl text-header text-midnightgreen font-bold leading-[27.6px] mb-[35px] text-center"
      >
        Sint cupidatat occaecat ut
      </p>
    </td>
  </tr>
  <tr>
    <td class="pb-[44px] pl-[20px] pr-[20px]">
      <table>
        <tr>
          <td>
            <!-- Mobile Code -->
            <table class="align-center-table hidden sm:block bg-white w-full">
              <tr>
                <td class="text-center pt-[26px]">
                  <x-image
                    class="w-[100px] h-[100px] rounded-full mx-auto"
                    imgUrl="image-5.jpg"
                    href="#"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <p
                    class="text-midnightgreen text-xl text-subheader text-center mb-[15px] mt-[15px] leading-[23px] font-bold"
                  >
                    Nisi ut ade
                  </p>
                  <p
                    class="text-outerspace text-base text-center leading-[18.4px] ml-[25px] mr-[25px] mb-[25px]"
                  >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam.<sup>1</sup>
                  </p>
                </td>
              </tr>
              <tr class="bg-gray">
                <td class="spacer">&zwj;</td>
              </tr>
              <tr>
                <td class="text-center pt-[26px]">
                  <x-image
                    class="w-[100px] h-[100px] rounded-full mx-auto"
                    imgUrl="image-5.jpg"
                    href="#"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <p
                    class="text-midnightgreen text-xl text-subheader text-center mb-[15px] mt-[15px] leading-[23px] font-bold"
                  >
                    Duis aute irure
                  </p>
                  <p
                    class="text-outerspace text-base text-center leading-[18.4px] ml-[25px] mr-[25px] mb-[25px]"
                  >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam.<sup>2</sup>
                  </p>
                </td>
              </tr>
            </table>
            <!-- Mobile Code Ended-->
            <table class="sm:hidden block bg-white w-[270px]">
              <tr>
                <td class="text-center pt-[26px]">
                  <x-image
                    class="w-[100px] h-[100px] rounded-full mx-auto"
                    imgUrl="image-5.jpg"
                    href="#"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <p
                    class="text-midnightgreen text-xl text-subheader text-center mb-[15px] mt-[15px] leading-[23px] font-bold"
                  >
                    Nisi ut ade
                  </p>
                  <p
                    class="text-outerspace text-base text-center leading-[18.4px] ml-[25px] mr-[25px] mb-[25px]"
                  >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam.<sup>1</sup>
                  </p>
                </td>
              </tr>
            </table>
          </td>
          <td class="pl-[8px] pr-[8px]">&zwj;</td>
          <td>
            <table class="sm:hidden block bg-white w-[270px]">
              <tr>
                <td class="text-center pt-[26px]">
                  <x-image
                    class="w-[100px] h-[100px] rounded-full mx-auto"
                    imgUrl="image-5.jpg"
                    href="#"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <p
                    class="text-midnightgreen text-xl text-subheader text-center mb-[15px] mt-[15px] leading-[23px] font-bold"
                  >
                    Duis aute irure
                  </p>
                  <p
                    class="text-outerspace text-base text-center leading-[18.4px] ml-[25px] mr-[25px] mb-[25px]"
                  >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam.<sup
                      class="text-xs align-super"
                      >2</sup
                    >
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
